# **MÓDULO 13 - AULA 4**
# Estatística Básica: Aplicando Conceitos com Python

 R é uma linguagem de programação e ambiente de software desenvolvido especificamente para análise estatística e visualização de dados. Ele fornece uma ampla variedade de ferramentas e pacotes estatísticos que tornam mais fácil para os usuários realizar uma variedade de tarefas, desde análises simples até projetos de modelagem de dados mais complexos.
 Não é tão requisitada no mercado quanto o Python mas aprenderemos a aplicar funções básicas de estatística com R.

Abram o link do colab para execucar os códigos usando esse link:
https://colab.research.google.com/#create=true&language=r

In [ ]:
# Instalar o pacote 'readr' necessário para leitura de arquivos CSV
install.packages("readr")
# Instalar o pacote 'readxl' necessário para leitura de arquivos Excel
install.packages("readxl")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
# Carregando os pacotes instalados
library(readr)
library(readxl)

In [ ]:
# Ler o arquivo CSV com a função read.csv()
dados <- read.csv("ESPORTISTAS_MOD7.csv", sep = ";")

# Visualizar os dados, muito semelhante ao python
head(dados)

  Atleta            Esporte  Ganhos_Totais
1 Lionel Messi      Futebol  639
2 Lebron James      Basquete 595
3 Cristiano Ronaldo Futebol  565
4 Neymar Jr         Futebol  467
5 Stephen Curry     Basquete 452
6 Kevin Duart       Basquete 452

# Aplicando os conceitos de estatística:

# 1 - MÉDIA

Realizaremos os mesmos cálculos da aula de python porém utilizando a linguagem R.

In [ ]:
mean(dados$Ganhos_Totais)
# O operador $ é usado para acessar uma coluna específica em um dataframe. Aqui também usamos a função chamada mean

[1] 377

Agora faremos a mesma operação porém agrupando por esporte:

In [ ]:
aggregate(Ganhos_Totais ~ Esporte, data = dados, FUN = mean)
# No python usamos o groupby, para o R iremos usar aggregate
#  ~ especifica que queremos agrupar os dados por esporte e calcular a média dos ganhos totais para cada grupo
# FUN = mean especifica que queremos calcular a média dos valores em cada grupo

  Esporte           Ganhos_Totais
1 Automobilismo     319.0
2 Basquete          400.5
3 Beisebol          241.0
4 Boxe              373.5
5 Futebol           557.0
6 Futebol Americano 311.0
7 Golfe             334.0
8 Tenis             366.0

chr é uma abreviação para "character" e dbl significa que essa coluna contém valores numéricos, geralmente números reais.

# 2 - MEDIANA

Assim como no Python usamos o median para a mediana.

In [ ]:
median(dados$Ganhos_Totais)

[1] 354

Agora realizando o agrupamento para trazer a mediana, o código é o mesmo, apenas alteramos o nome da função estatistica aplicada.

In [ ]:
aggregate(Ganhos_Totais ~ Esporte, data = dados, FUN = median)

  Esporte           Ganhos_Totais
1 Automobilismo     319.0
2 Basquete          392.5
3 Beisebol          241.0
4 Boxe              373.5
5 Futebol           565.0
6 Futebol Americano 329.0
7 Golfe             334.0
8 Tenis             366.0

# 3 - MODA

Diferente do python que temos uma função especifica na biblioteca, no R não temos essa função para a moda, então iremos realizar uma lógica para encontrar a moda.

In [ ]:
calcular_moda <- function(x) {
# Calcular_moda() é uma função personalizada, assim como as que criamos no python
  unique_x <- unique(x)
  contagem <- tabulate(match(x, unique_x))
  moda <- unique_x[which.max(contagem)]
# unique() para obter os valores únicos do vetor,
# tabulate() para contar a frequência de cada valor
# which.max() para encontrar o índice do valor com a frequência máxima.
  return(moda)
}

# Calcular a moda da coluna "Gastos_Totais"
calcular_moda(dados$Ganhos_Totais)

[1] 452

# 4 - DESVIO PADRÃO

Para cálculo do desvio padrão contamos com a função  std como no python, para aplicar é simples e segue a mesma lógica:

In [ ]:
aggregate(Ganhos_Totais ~ Esporte, data = dados, FUN = sd)

  Esporte           Ganhos_Totais
1 Automobilismo            NA
2 Basquete          103.41456
3 Beisebol                 NA
4 Boxe               96.87363
5 Futebol            86.27862
6 Futebol Americano  62.96030
7 Golfe                    NA
8 Tenis             107.48023